<div class="container mt-4">
    <div class="row border-bottom">
        <div class="col fs-3">最終まとめ３</div>
        <div class="col text-end align-self-end fst-italic fs-6">PC-1434-243</div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 my-4">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col col-lg-5 p-3">
                    <h6>機種:</h6>
                    <h5 class="text-white d-inline-block">{{machine.machineType}}</h5>
                </div>
                <div class="col  col-lg-7 p-3">
                    <h6>納入先:</h6>
                    <h5 class="text-white">{{machine.customer}}</h5>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col col-lg-5 p-3">
                    <h6>製番WBS:</h6>
                    <h5 class="text-white">{{machine.machineID}}</h5>
                </div>
                <div class="col col-lg-7 p-3">
                    <h6>受注WBS:</h6>
                    <h5 class="text-white">{{machine.lotID}}</h5>
                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <div class="row row-cols-1 row-cols-md-3 text-center g-3">
                <div class="col">
                    <h6 class="text-secondary">主任</h6>
                    {{!-- <div
                        class="d-inline-block rounded-circle border border-danger text-center text-danger bg-white px-2 py-1">
                        <div>製造部</div>
                        <div class="border-top border-bottom border-2 border-danger">24/09/30</div>
                        <div>塚原</div>
                    </div> --}}

                    <div class="border d-inline-block p-5"></div>
                </div>
                <div class="col">
                    <h6 class="text-secondary">組長</h6>
                    <div
                        class="d-inline-block rounded-circle border border-danger text-center text-danger bg-white px-2 py-1">
                        <div>製造部</div>
                        <div class="border-top border-bottom border-2 border-danger">24/09/17</div>
                        <div>黒羽根</div>
                    </div>
                </div>
                <div class="col">
                    <h6 class="text-secondary">検査員</h6>
                    <div
                        class="d-inline-block rounded-circle border border-danger text-center text-danger bg-white px-2 py-1">
                        <div>製造部</div>
                        <div class="border-top border-bottom border-2 border-danger">24/08/29</div>
                        <div>和田</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>