<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="p-3">
            <img src="https://svgsilh.com/svg_v2/1088003.svg"
                style="height:40px;">
        </div>

        {{#if user}}
            <div class="ps-2">
                <span class="badge bg-primary text-secondary">ログイン中:</span>
                <br>
                <span class="badge bg-info">{{user.firstName}}</span>
            </div>
        {{/if}}



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    {{#if (levelValue_3 user.level)}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                新規登録
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user/register">ユーザー</a></li>
                                <li><a class="dropdown-item" href="/machine/register">機械</a></li>
                            </ul>
                        </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/profile">プロフィール</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/machine/search">機械検索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">ログアウト</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>