<div class="container py-5 text-center">
    <h3 class="pb-3 text-info">新しい機械の登録を完了しました</h3>
    <div class="py-3">
        <h6>製番WBS:</h6>
        <h5 class="text-white">{{machineSaved.machineID}}</h5>
    </div>
    <div class="py-3">
        <h6>受注WBS:</h6>
        <h5 class="text-white">{{machineSaved.lotID}}</h5>
    </div>
    <div class="py-3">
        <h6>納入先:</h6>
        <h5 class="text-white">{{machineSaved.customer}}</h5>
    </div>
    <div class="py-3">
        <h6>機種:</h6>
        <h5 class="text-white">{{machineSaved.machineType}}</h5>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-warning" href="/machine/search">機械検索</a>
    </div>
</div>